@model ASP.Models.Content.Category.ContentCategoryPageModel
@{
	Layout = "_ContentLayout";
}
<h1>@Model.Category.Name</h1>
@foreach(var location in Model.locations)
{
	@Html.DisplayFor(m => location, "LocationTemplate")
}