@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP - Active Server Page</h1>
</div>
<h2>Содержание</h2>
<h3><a asp-controller="Home" asp-action="Intro"><i class="bi bi-play-circle"></i> Вступ</a></h3>
<h3><a asp-controller="Home" asp-action="Ioc"><i class="bi bi-arrow-repeat"></i>  Інверсія управління. Сервіси.</a></h3>
<h3><a asp-controller="Home" asp-action="AboutRazor"><i class="bi bi-at"></i> Синтаксис Razor</a></h3>
<h3><a asp-controller="Home" asp-action="Data"><i class="bi bi-database"></i> Робота з даними. БД</a></h3>
<h3><a asp-controller="Home" asp-action="Model"><i class="bi bi-clipboard-data"></i>  Моделi в ASP</a></h3>