@{
    ViewData["Title"] = "URL";
}

<div class="text-center">
    <h1 class="display-4">Структура URL</h1>
</div>
<img class="mx-auto d-block url-img" src="/img/url.jpg" alt="img" />
<ul>
    <li>Протокол: <span>This is the designation of the protocol that is used to access the resource. 
        For example, http://, https://, ftp://, mailto:, etc..</span></li>
    <li>Домен: <span>This is the part of the URL that indicates the address of the server on which the resource is hosted. 
        For example, www.example.com.</span></li>
    <li>Путь: <span>This points to a specific path to a resource on the server. This is the part of the URL after the domain. 
        For example, /path/to/resource.</span></li>
    <li>Строка запроса: <span>These are the parameters passed in the URL for a request to a resource. 
        They begin with a question symbol ? and can contain key-value pairs separated by the ampersand & character. For example, ?key1=value1&key2=value2.</span></li>
    <li>Фрагмент: <span>This is a specific part of the resource that you need to go to or scroll to after the page has loaded. 
        The fragment begins with a hash symbol #. For example, #section1.</span></li>
</ul>