@model ASP.Models.Home.URLStruct.URLStructPageModel

@{
    ViewData["Title"] = Model.TabHeader;
}

<div class="text-center">
    <h1 class="display-4">@Model.PageTitle</h1>
</div>
<img class="mx-auto d-block url-img" src=@Model.PageImageSrc alt="img" />
<ul>
    @foreach(var text in @Model.PageText)
    {
        <li>@text</li>
    }
</ul>