@using System.Security.Claims
@{
	bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
	String avatar = isAuthenticated
	? Context.User.Claims.First(claim => claim.Type == ClaimTypes.UserData).Value
	: "";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ASP</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ASP.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASP</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Домашняя страница"
							   asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Вступ"
							   asp-controller="Home" asp-action="Intro"><i class="bi bi-play-circle"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Структура URL"
							   asp-controller="Home" asp-action="URLStruct"><i class="bi bi-diagram-2"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Політика безпеки"
							   asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-check"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Інверся управління. Сервіси."
							   asp-controller="Home" asp-action="Ioc"><i class="bi bi-arrow-repeat"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="СиHтакCиc Razor"
							   asp-controller="Home" asp-action="AboutRazor"><i class="bi bi-at"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Робота з даними"
							   asp-controller="Home" asp-action="Data"><i class="bi bi-database"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Мoделі в ASP"
							   asp-controller="Home" asp-action="Model"><i class="bi bi-clipboard-data"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" title="Адміністрування контенту"
							   asp-controller="Home" asp-action="Admin"><i class="bi bi-pencil-square"></i></a>
						</li>
					</ul>
					@if (isAuthenticated)
					{
						<img class="user_logo" src="/img/avatars/@(avatar == "" ? "no-avatar.png" : avatar)" alt="avatar" />
						<a class="nav-link text-dark" asp-area="" title="Вихiд"
						   asp-controller="Home" asp-route-logout="true" asp-action="Index"><i class="bi bi-box-arrow-right"></i></a>
					}
					else
					{
						<a class="nav-link text-dark" asp-area="" title="Реєстрація"
						   asp-controller="Home" asp-action="Signup"><i class="bi bi-person-plus"></i></a>
						<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
								data-bs-target="#authModal">
							<i class="bi bi-person-check-fill"></i>
						</button>
					}
				</div>
			</div>
		</nav>
		<div class="sub-header">
			<h2>
				Make yourself at home
				in paradise
			</h2>
			<h4>Choose from cabins, houses and more</h4>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - ASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>


	<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="authModalLabel">Автентифікація (вхід до сайту)</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="col">
						<div class="input-group mb-3">
							<span class="input-group-text" id="auth-email-icon"><i class="bi bi-envelope-at"></i></span>
							<input type="text" id="auth-email" class="form-control" placeholder="Email"
								   aria-label="Email" aria-describedby="auth-email-icon">
						</div>
					</div>
					<div class="col">
						<div class="input-group mb-3">
							<span class="input-group-text" id="auth-password-icon"><i class="bi bi-lock"></i></span>
							<input type="password" id="auth-password" class="form-control" placeholder="Пароль"
								   aria-label="Password" aria-describedby="auth-password-icon">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div id="auth-message" class="alert alert-warning visually-hidden" role="alert">
					</div>
					<div class="spacer"></div>
					<button type="button" class="btn btn-primary" id="auth-button">Вхiд</button>
				</div>
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
